/* إعدادات الخط والألوان الأساسية */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}

body {
    font-family: 'Qomra', sans-serif;
    background-color: #042522; 
    background: url('/GovFive/image/background11.png') no-repeat center center / cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}
@keyframes floatSmoothUp {
    0% {
        transform: translateY(0px) translateX(0px);
    }
    25% {
        transform: translateY(-60px) translateX(-30px);
    }
    50% {
        transform: translateY(-120px) translateX(0px);
    }
    75% {
        transform: translateY(-60px) translateX(30px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes floatSmoothDepth {
    0% {
        transform: translateY(0px) translateX(0px) scale(1);
    }
    33% {
        transform: translateY(40px) translateX(50px) scale(0.85);
    }
    66% {
        transform: translateY(-40px) translateX(-50px) scale(1.15);
    }
    100% {
        transform: translateY(0px) translateX(0px) scale(1);
    }
}

@keyframes floatSubtleWave {
    0% {
        transform: translateY(0px) translateX(0px);
    }
    20% {
        transform: translateY(-30px) translateX(40px);
    }
    40% {
        transform: translateY(20px) translateX(80px);
    }
    60% {
        transform: translateY(40px) translateX(20px);
    }
    80% {
        transform: translateY(-10px) translateX(-40px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes floatSubtleWave2 {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    25% {
        transform: translateX(-70px) translateY(25px);
    }
    50% {
        transform: translateX(0px) translateY(50px);
    }
    75% {
        transform: translateX(70px) translateY(25px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}

@keyframes floatSubtle {
    0% {
        transform: translateY(0px) translateX(0px);
    }
    50% {
        transform: translateY(80px) translateX(-80px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes floatSubtlescale {
    0% {
        transform: translateX(0px) translateY(0px) rotate(0deg);
    }
    25% {
        transform: translateX(60px) translateY(-60px) rotate(90deg);
    }
    50% {
        transform: translateX(120px) translateY(0px) rotate(180deg);
    }
    75% {
        transform: translateX(60px) translateY(60px) rotate(270deg);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(360deg);
    }
}
.icon{
    opacity: 0.1;
    position: absolute;
    pointer-events: none; 
    z-index: 1;
}
.parent-icon-up {
    animation: floatSmoothUp 9s ease-in-out infinite;
}
.parent-icon-down {
    animation: floatSmoothDepth 11s ease-in-out infinite;
}
.parent-icon-Wave{
    animation: floatSubtleWave 10s ease-in-out infinite;
}
.parent-icon-Wave2{
    animation: floatSubtleWave2 10s ease-in-out infinite;
}
.parent-icon-float{
    animation: floatSubtle 11s ease-in-out infinite;
}
.parent-icon-scale{
    animation: floatSubtlescale 12s ease-in-out infinite;
}

/* أحجام ومواقع الأيقونات بالشاشة */
.icon1 { top: 19%; left: 19%; }
.icon1 img { width: 80px; }

.icon2 { top: 33%; right: 26%; }
.icon2 img { width: 94px; }

.icon3 { top: 60%; left: 12%; }
.icon3 img { width: 100px; }

.icon4 { top: 60%; right:10%; }
.icon4 img { width: 100px; }
/*----------------------------------*/
.point{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 50%;
   opacity: 0.2;
    z-index: 1;
        box-shadow: 
        0 0 15px 5px rgba(150, 131, 95, 0.9),   
        0 0 40px 15px rgba(150, 131, 95, 0.6),  
        0 0 70px 30px rgba(150, 131, 95, 0.8);  
}
.point1{
     top: 50%;
    right: 20%;
}
.point2{
     top: 20%;
    right: 30%;
    box-shadow: 
        0 0 15px 5px rgba(255, 255, 255, 0.9),   
        0 0 40px 15px rgba(255, 255, 255, 0.6),  
}
.point3{
    background-color: #96835F;
    box-shadow: 
        0 0 15px 5px rgba(150, 131, 95, 0.9),   
        0 0 40px 15px rgba(150, 131, 95, 0.6),  
        0 0 70px 30px rgba(150, 131, 95, 0.8);  
     top: 40%;
   left:19%;
}
.point4,.point5{
    width: 5px;
    height:  5px;
    box-shadow: 
          0 0 15px 5px rgba(255, 255, 255, 0.9),   
          0 0 40px 15px rgba(255, 255, 255, 0.6),  ;
    top: 60%;
    right: 6%;
}
.point5{
    top: 80%;
    right: 17%;
}
.point6{
      width: 5px;
    height:  5px;
    top: 20%;
    left: 17%;
     box-shadow: 
        0 0 15px 5px rgba(150, 131, 95, 0.9),   
        0 0 40px 15px rgba(150, 131, 95, 0.6),  
        0 0 70px 30px rgba(150, 131, 95, 0.8);  
}


/* -------------------------------------------------------------------------------- */


.registration-container {
    position: relative;
    z-index: 10;

    text-align: center;
      background: linear-gradient(135deg, #042522 0%, #0b3d38 100%);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
     border-radius: 24px;
         box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);
}

.header-nav {
    text-align: left;
    color:#96835F; 
    font-size: 1.5rem;
    cursor: pointer;
}



.user-icon-wrapper {
    font-size: 80px;
    color:#96835F;
    margin-bottom: -25px;
    margin-top: -15px;
}

.logo-section h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: -10px;
}

.logo-section p {
    font-size: 0.9rem;
    opacity: 0.9;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
    /* margin-bottom: 5px;    */
    /* height: 60px; */
}

.input-group input {
    width: 90%;
    background-color: transparent;
    border: 1px solid #96835F;
    border-radius: 12px;
    padding: 10px 50px 10px 45px;
    color: white;
    font-size: 1rem;
    outline: none;
    transition: 0.3s;
}

.input-group input:focus {
    border-color:#96835F;
}

.input-group i:not(.show-pass) {
    position: absolute;
    right: 10%;
    top: 23px;
    transform: translateY(-50%);
    color:#96835F;
    font-size: 1.2rem;
}


.show-pass {
    position: absolute;
    left: 10%;
    top: 23px;
    transform: translateY(-50%);
    color: #888;
    cursor: pointer;
}

/* زر الإرسال */
.submit-btn {
    width: 200px;
    background: linear-gradient(135deg, #96835F 0%, #b19b72 100%);
    color: #042522;
    border: none;
    padding: 6px;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden; 
    
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.submit-btn:hover {
    transform: translateY(-3px) scale(1.03); 
    background: linear-gradient(135deg, #a38f69 0%, #c4ac7f 100%); 
    box-shadow: 0 10px 20px rgba(150, 131, 95, 0.3), 
                0 0 30px rgba(177, 155, 114, 0.2);
}

.submit-btn:active {
    transform: translateY(-1px) scale(0.98); /* ينخفض قليلاً ويكش ليعطي شعور الضغط الزنبركي */
    box-shadow: 0 5px 10px rgba(150, 131, 95, 0.4);
}

.submit-btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg, 
        transparent 0%, 
        rgba(255, 255,255,0.6) 30%, 
        transparent 100%
    );
    transition: all 0.6s ease;
}
.submit-btn:hover::after {
    left: 100%; 
}
.submit-btn:hover::after {
    left: 100%; 
}

